{
  "presets": [
    "airbnb",
    ["es2015", {"modules": false}],
    "react",
    "stage-2"
  ],
  "plugins": [
    "transform-class-properties",
    "syntax-dynamic-import"
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    }
  }
}
